.btn {
  margin-left: 10px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: 1px solid #454F5B;
  border-radius: 5px;
  padding: 7.5% 12.5%;
  color: #454F5B;
}

.btn:focus {
  outline: none;
}

.btn-confirm {
  color: #108043;
  background-color: #BBE5B3;
  border: none;
  margin: 0;
}

.btn-cancel {
  color: #BF0711;
  border-color: #BF0711;
}

.btn-clicked {
  opacity: 0.5;
}

.btn-event {
  padding: 5% 10% 5% 10%;
  font-size: 30px;
}

@media only screen and (min-width: 1024px) {

  .btn {
    font-size: 14px;
    line-height: 20px;
    padding: 5px 7px 5px 7px;
    border-radius: 2px;
  }

  .btn-event {
    padding: 5% 10% 5% 10%;
    font-size: 18px;
  }
}