.searchBox {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  padding: 2%;
}

label {
  font-size: 0.8em;
  margin-bottom: 10px;
}

#search {
  cursor: pointer;
  background: none;
  border: none;
}

#searchBar {
  margin-top: 5px;
  border: none;
  text-align: left;
  width: 100%;
}

input:focus {
  outline: none;
}

.searchContainer {
  padding: 0.5%;
  border: solid 0.5px #A0A0A0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}