.searchBox {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #FCF1CD;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  padding: 2%;
}

label {
  float: left;
  font-size: 0.8em;
  margin-bottom: 10px;
}

#search {
  cursor: pointer;
  background: none;
  border: none;
}

#searchBar {
  width: 100%;
  margin-top: 5px;
  border: none;
  background-color: #FCF1CD;
  color: #595130;
  text-align: left;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #595130;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #595130;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #595130;
}

input:focus {
  outline: none;
}

.searchContainer {
  padding: 0.5%;
  border: solid 0.5px #595130;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}